<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Location Sample
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Location Sample</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-list-header>
        <ion-label>Location Coordinates</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          Latitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{data.latitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Longitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{data.longitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Speed
        </ion-label>
        <ion-badge color="danger" slot="end">{{data.speed}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Azimuth
        </ion-label>
        <ion-badge color="danger" slot="end">{{data.azimuth}}</ion-badge>
      </ion-item>
    </ion-list>
    <br/>
    <ion-button (click)="getCurrentCoordinates()" expand="block">
      Get Location
    </ion-button>
    <br/>
    <ion-button color="primary">전송</ion-button>
    <ion-button color="primary">중지</ion-button><br/>
    <ion-button color="medium">Medium</ion-button>
  </div>
</ion-content>
